.open-button {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 280px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 25px;
    border: 3px solid #f1f1f1;
}

.form-container {
    min-width: 300px;
    max-width: 500px;
    padding: 10px;
    background-color: white;
}

.form-container .btn {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}